<nav class="navbar navbar-expand-lg px-0 @@classList">
  <div class="container">
    <a class="navbar-brand" href="@@webRoot/index.html"><img src="@@webRoot/assets/images/brand/logo/logo.png"
        alt="" /></a>

    <!-- Button -->
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-default"
      aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar top-bar mt-0"></span>
      <span class="icon-bar middle-bar"></span>
      <span class="icon-bar bottom-bar"></span>
    </button>
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbar-default">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarHome" data-bs-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" data-bs-display="static">
            Home
          </a>
          <ul class="dropdown-menu dropdown-menu-arrow dropdown-menu-lg" aria-labelledby="navbarHome">
            <li>
              <div class="row g-0">
                <div class="col-12 col-lg-6">
                  <!-- Heading -->
                  <h6 class="dropdown-header text-primary">
                    Homepage
                  </h6>
                  <!-- List -->
                  <a class="dropdown-item" href="@@webRoot/index.html">
                    Homepage
                  </a>
                  <a class="dropdown-item" href="@@webRoot/pages/index-1.html">
                    Homepage 1
                  </a>
                  <a class="dropdown-item " href="@@webRoot/pages/index-2.html">
                    Homepage 2
                  </a>
                  <a class="dropdown-item " href="@@webRoot/pages/index-3.html">
                    Homepage 3
                  </a>
                  <h6 class="dropdown-header text-primary mt-2">
                      Advance Pages
                    </h6>
                  <!-- List -->
                  <a class="dropdown-item" href="@@webRoot/pages/index-4-students-loan.html">
                    Student Loan
                  </a>
                  <a class="dropdown-item" href="@@webRoot/pages/index-5-business-loan.html">
                    Business Loan
                  </a>
                  <a class="dropdown-item  mb-lg-0" href="@@webRoot/pages/index-6.html">
                    Home Tabbed
                  </a>
                  <a class="dropdown-item  mb-lg-0" href="@@webRoot/pages/index-7-borrow-bank.html">
                    Bank Homepage
                  </a>

                  <a class="dropdown-item  mb-lg-0" href="@@webRoot/pages/index-8-compare-shop.html">
                    Compare & Shop
                  </a>
                  <a class="dropdown-item  mb-lg-0" href="@@webRoot/pages/index-forex.html">
                    Forex
                  </a>
                  <a class="dropdown-item" href="@@webRoot/pages/index-creditcards.html">
                    Credit Card
                  </a>
                  <a class="dropdown-item" href="@@webRoot/pages/index-creditscore.html">
                    Credit Score
                  </a>
                </div>
                <div class="col-12 col-lg-6">
                  <!-- Heading -->
                  <h6 class="dropdown-header text-primary">
                    Landing pages
                  </h6>
                  <!-- List -->
                  <a class="dropdown-item" href="@@webRoot/pages/landing-page-car-loan.html">
                    Car Loan
                  </a>
                  <a class="dropdown-item " href="@@webRoot/pages/landing-page-home-loan.html">
                    Home Loan
                  </a>
                  <!-- Heading -->
                  <a class="dropdown-item " href="@@webRoot/pages/landing-page-refinancing.html">
                    Refinance Loan
                  </a>

                  <a class="dropdown-item " href="@@webRoot/pages/landing-page-lead-generator.html">
                    Lead Generator
                  </a>
                  <a class="dropdown-item " href="@@webRoot/pages/landing-page-card.html">
                    Card Landing Page
                  </a>

                  <!-- List -->

                </div>
              </div>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarProducts" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Products
          </a>
          <ul class="dropdown-menu dropdown-menu-arrow" aria-labelledby="navbarProducts">


            <li class="dropdown-submenu dropend">
              <a class="dropdown-item dropdown-list-group-item dropdown-toggle" href="#">
                Loans
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="@@webRoot/pages/loan-listing-image.html">
                    Loan List Image
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="@@webRoot/pages/loan-listing-icon.html">
                    Loan List Icon
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="@@webRoot/pages/car-loan.html">
                    Car Loan Single
                  </a>
                </li>
                <li>

                  <a class="dropdown-item" href="@@webRoot/pages/home-loan.html">
                    Home Loan Single
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="@@webRoot/pages/personal-loan.html">
                    Personal Loan Single
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="@@webRoot/pages/education-loan.html">
                    Education Loan Single
                  </a>
                </li>
              </ul>
            </li>
            <li class="dropdown-submenu dropend">
              <a class="dropdown-item dropdown-list-group-item dropdown-toggle" href="#">
                Credit Card
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="@@webRoot/pages/credit-card-listing.html">
                    Credit Card List
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="@@webRoot/pages/credit-card-single.html">
                    Credit Card Single
                  </a>
                </li>
              </ul>
            </li>

          </ul>
          <ul class="dropdown-menu dropdown-menu-arrow" aria-labelledby="navbarProducts">


            <li class="dropdown-submenu dropend">
              <a class="dropdown-item dropdown-list-group-item dropdown-toggle" href="#">
                Loans
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="@@webRoot/pages/loan-listing-image.html">
                    Loan List Image
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="@@webRoot/pages/loan-listing-icon.html">
                    Loan List Icon
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="@@webRoot/pages/car-loan.html">
                    Car Loan Single
                  </a>
                </li>
                <li>

                  <a class="dropdown-item" href="@@webRoot/pages/home-loan.html">
                    Home Loan Single
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="@@webRoot/pages/personal-loan.html">
                    Personal Loan Single
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="@@webRoot/pages/education-loan.html">
                    Education Loan Single
                  </a>
                </li>
              </ul>
            </li>
            <li class="dropdown-submenu dropend">
              <a class="dropdown-item dropdown-list-group-item dropdown-toggle" href="#">
                Credit Card
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="@@webRoot/pages/credit-card-listing.html">
                    List
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="@@webRoot/pages/credit-card-single.html">
                    Single
                  </a>
                </li>
              </ul>
            </li>

            <li class="dropdown-submenu dropend">
              <a class="dropdown-item dropdown-list-group-item dropdown-toggle" href="#">
                Landers
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="@@webRoot/pages/lender-listing.html">
                    List
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="@@webRoot/pages/lender-single.html">
                    Single
                  </a>
                </li>


              </ul>
            </li>
            <li class="dropdown-submenu dropend">
              <a class="dropdown-item dropdown-list-group-item dropdown-toggle" href="#">
                Bank Account
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="@@webRoot/pages/personal-bank-account.html">
                    Account
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="@@webRoot/pages/personal-bank-account-list.html">
                    Account List
                  </a>
                </li>
                <li>

                  <a class="dropdown-item" href="@@webRoot/pages/personal-bank-account-single.html">
                    Account Single
                  </a>
                </li>


              </ul>

            </li>

            <li class="dropdown-submenu dropend">
              <a class="dropdown-item dropdown-list-group-item dropdown-toggle" href="#">
                Compare Page
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="@@webRoot/pages/compare-credit-card.html">
                    Compare Credit Card
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="@@webRoot/pages/compare-personal-loan.html">
                    Compare Personal
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="@@webRoot/pages/compare-student-loan.html">
                    Compare Student Loan
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="@@webRoot/pages/compare-loan.html">
                    Compare Loan
                  </a>
                </li>


              </ul>

            </li>
            <li class="dropdown-submenu dropend">
              <a class="dropdown-item dropdown-list-group-item dropdown-toggle" href="#">
                Forex Page
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="@@webRoot/pages/forex-list.html">
                    Forex List
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="@@webRoot/pages/forex-list-single.html">
                    Forex Single
                  </a>

                </li>



              </ul>

            </li>
            <li><a href="@@webRoot/pages/loan-calculator.html" class="dropdown-item">
                Loan Calculator
              </a>
            </li>
            <li>
              <a href="@@webRoot/pages/loan-eligibility.html" class="dropdown-item">
                Eligibility Calculator
              </a>
            </li>

          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#!" id="navbarBlog" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Blog
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarBlog">
            <a class="dropdown-item" href="@@webRoot/pages/blog-listing.html">Blog Listing</a>
            <a class="dropdown-item" href="@@webRoot/pages/blog-two-column.html">Two Column</a>
            <a class="dropdown-item" href="@@webRoot/pages/blog-three-column.html">Three Column</a>
            <a class="dropdown-item" href="@@webRoot/pages/blog-single.html">Blog Single</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#!" id="navbarFeatures" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Features
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarFeatures">

            <li><a class="dropdown-item" href="@@webRoot/pages/about.html">About Us</a></li>
            <li> <a class="dropdown-item" href="@@webRoot/pages/team.html">Team</a></li>
            <li> <a class="dropdown-item" href="@@webRoot/pages/faq.html">FAQ</a></li>

            <li> <a class="dropdown-item" href="@@webRoot/pages/error.html">404 error</a></li>
            <li class="dropdown-submenu dropend">
              <a class="dropdown-item dropdown-list-group-item dropdown-toggle" href="#">
                Gallery
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="@@webRoot/pages/gallery-filter-2.html">
                    Two Column
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="@@webRoot/pages/gallery-filter-3.html">
                    Three Column
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="@@webRoot/pages/gallery-masonry.html">
                    Masonry
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="@@webRoot/pages/gallery-zoom.html">
                    Zoom
                  </a>
                </li>


              </ul>

            </li>
            <li><a class="dropdown-item" href="@@webRoot/pages/contact-us.html">Contact
              </a>
            </li>

          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="@@webRoot/docs/index.html">
            Docs
          </a>
        </li>

      </ul>
      <div class="ms-lg-3 mt-3 d-grid mt-lg-0">
        <a href="https://1.envato.market/xJB55 " class="btn btn-primary btn-sm">Buy Now</a>
        </div>

    </div>
  </div>
</nav>