<!-- Libs JS -->
<script src="@@webRoot/node_modules/jquery/dist/jquery.min.js"></script>
<script src="@@webRoot/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="@@webRoot/node_modules/tiny-slider/dist/min/tiny-slider.js"></script>
<script src="@@webRoot/node_modules/nouislider/dist/nouislider.min.js"></script>
<script src="@@webRoot/node_modules/wnumb/wNumb.min.js"></script>
<script src="@@webRoot/node_modules/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
<script src="@@webRoot/node_modules/isotope-layout/dist/isotope.pkgd.min.js"></script>
<script src="@@webRoot/node_modules/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="@@webRoot/node_modules/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
<script src="@@webRoot/node_modules/prismjs/prism.js"></script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>


<!-- Theme JS -->
<!-- build:js @@webRoot/assets/js/theme.min.js -->
<script src="@@webRoot/assets/js/main.js"></script>
<script src="@@webRoot/assets/js/tnsSlider.js"></script>
<script src="@@webRoot/assets/js/nouislider.js"></script>
<script src="@@webRoot/assets/js/video.js"></script>
<script src="@@webRoot/assets/js/jquery-ui.js"></script>
<script src="@@webRoot/assets/js/slider-calculator.js"></script>
<script src="@@webRoot/assets/js/simple-slider.js"></script>
<script src="@@webRoot/assets/js/calculator.js"></script>
<script src="@@webRoot/assets/js/loan-elgiblity.js"></script>
<script src="@@webRoot/assets/js/filter-script.js"></script>
<script src="@@webRoot/assets/js/popup-gallery.js"></script>
<script src="@@webRoot/assets/js/copy-button.js"></script>